/*** {
	border: 1px dotted black;
}

body {
	background-color: #fcfeff;
}
**/

.container {
	width: 960px;
	margin: auto;
	
}

#heading {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-top: 5em;
}

#tagline {
	font-family: helvetica;
	font-weight: bold;
}